.month {
    font-size: 50px;
    font-style: bold;
    padding-bottom: 40px;
}

.calendar {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
th {
    font-size: 40px;
    padding: 5px 50px;
}
td {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 10px 0px;
}
#date {
    text-decoration: none;
    color: white;
}

#today {
    background-color: gray;
}