#todo {
    text-align: center;
    width: 1000px;
    margin: 0px auto;
    color: black;
    margin-top: 30px;
}

body {
    background-color: gray;
}

#todoBox, h1, p {
    text-decoration: none;
}